@tailwind base;
@tailwind utilities;
@tailwind components;
@layer base {
  h1 {
    @apply text-4xl;
    font-weight: 700;
  }
  h2 {
    @apply text-2xl;
    font-style: oblique;
    font-size: 36px;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
  ul {
    list-style: inside;
    margin-left: 1rem;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgcolor {
  background-color: #f8f8f8;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
